# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
.venv/
env/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Ignore only large model
models/similarity_matrix.pkl

# Ignore only large datasets
data/raw/naukri_jobs.csv
data/processed/naukri_cleaned.csv

# OS files
.DS_Store
Thumbs.db